In [5]:
# pip install pymongo
from pymongo import MongoClient

# client = MongoClient('mongodb://hanslab.org:27117/')
client = MongoClient('mongodb://likelion:1234@hanslab.org:27117/')

In [6]:
# 데이터베이스 선택 (없으면 새로 생성됨)
db = client['tutorial_db_kimkyungeon']

In [7]:
# 컬렉션 선택 (없으면 새로 생성됨) -> sql table
collection = db['tutorial_collection']

In [39]:
# 새 문서 생성 및 삽입
document = {"name": "kim gibok", "age": 31, "city": "New York"}
collection.insert_one(document)

InsertOneResult(ObjectId('66037988cb56c5a923099152'), acknowledged=True)

In [21]:
document = {"name": "kim Lion", "age": 100, "country": "Seoul"}
collection.insert_one(document)

InsertOneResult(ObjectId('66037481cb56c5a923099150'), acknowledged=True)

In [70]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('66037481cb56c5a923099150'), 'name': 'kim Lion', 'age': 131, 'country': 'Seoul'}
{'_id': ObjectId('660378f9cb56c5a923099151'), 'name': 'John Doe', 'city': 'New York', 'age': 31}
{'_id': ObjectId('66037988cb56c5a923099152'), 'name': 'kim gibok', 'age': 31, 'city': 'New York'}

In [23]:
# 특정 조건에 맞는 문서 조회
query = {"country": "Seoul"}
documents = collection.find(query)
for doc in documents:
    print(doc)

{'_id': ObjectId('66037481cb56c5a923099150'), 'name': 'kim Lion', 'age': 100, 'country': 'Seoul'}

In [69]:
# 문서 업데이트
collection.update_one(
    {"name": "John Doe"},  # 조건
    {"$set": {"age": 31}}  # 변경할 내용
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
# 문서 삭제
collection.delete_one({"name": "John Doe"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

- 심화예제

In [71]:
users = db['users'] # users라는 이름의 collection을 생성

# 'email' 필드에 대한 인덱스 생성 unique: 필드에 유니크한 값만 가능하다 중복X
users.create_index([('email', 1)], unique=True)

'email_1'

In [86]:
# insert_many
try:
    users.insert_many([
        {"name": "John Doe", "email": "john@example.com"},
        {"name": "Jane Doe", "email": "jane@example.com"},
        {"name": "kim Lion", "email": "likelion@example.com"}
    ])
    print("Documents inserted successfully.")
except Exception as e:
    print("An error occurred:", e)

Documents inserted successfully.

In [87]:
# 모든 문서 조회
for doc in users.find():
    print(doc)

{'_id': ObjectId('660382bacb56c5a92309915a'), 'name': 'John Doe', 'email': 'john@example.com'}
{'_id': ObjectId('660382bacb56c5a92309915b'), 'name': 'Jane Doe', 'email': 'jane@example.com'}
{'_id': ObjectId('660382bacb56c5a92309915c'), 'name': 'kim Lion', 'email': 'likelion@example.com'}

In [88]:
# update_many
try:
    result = users.update_many(
        {"name": {"$regex": "^J"}},  # 이름이 J로 시작하는 모든 문서 ^:시작을 의미
        {"$set": {"status": "verified"}}
    )
    print(f"{result.matched_count} documents matched, {result.modified_count} documents updated.")
except Exception as e:
    print("An error occurred:", e)

2 documents matched, 2 documents updated.

In [85]:
try:
    result = users.delete_many({"status": "verified"})
    print(f"{result.deleted_count} documents deleted.")
except Exception as e:
    print("An error occurred:", e)

2 documents deleted.

In [79]:
# 예외처리 예제
from pymongo.errors import DuplicateKeyError

try:
    users.insert_one({"email": "john@example.com"})  # 이미 존재하는 이메일
except DuplicateKeyError as e:
    print("Duplicate key error:", e)
except Exception as e:
    print("An error occurred:", e)

Duplicate key error: E11000 duplicate key error collection: tutorial_db_kimkyungeon.users index: email_1 dup key: { email: "john@example.com" }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'email': 1}, 'keyValue': {'email': 'john@example.com'}, 'errmsg': 'E11000 duplicate key error collection: tutorial_db_kimkyungeon.users index: email_1 dup key: { email: "john@example.com" }'}

- 집계 파이프라인

In [101]:
collection = db['users1']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "age": 25, "status": "active", "team":"lion"},
    {"name": "Bob", "age": 30, "status": "inactive", "team":"tiger"},
    {"name": "Charlie", "age": 35, "status": "active", "team":"lion"},
    {"name": "David", "age": 40, "status": "active", "team":"lion"},
    {"name": "Eve", "age": 25, "status": "active", "team":"tiger"},
    {"name": "Frank", "age": 30, "status": "active", "team":"lion"}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('66039b17cb56c5a923099175'), ObjectId('66039b17cb56c5a923099176'), ObjectId('66039b17cb56c5a923099177'), ObjectId('66039b17cb56c5a923099178'), ObjectId('66039b17cb56c5a923099179'), ObjectId('66039b17cb56c5a92309917a')], acknowledged=True)

In [102]:
pipeline = [
    {"$match": {"status": "active"}},
    {"$group": {"_id": "$team", "count": {"$sum": "$age"}}} # 그룹을 나이로 
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': 'tiger', 'count': 25}
{'_id': 'lion', 'count': 130}

- 필드재구성과 정렬

In [103]:
# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "email": "alice@example.com"},
    {"name": "Bob", "email": "bob@example.com"},
    {"name": "Charlie", "email": "charlie@example.com"},
    {"name": "David", "email": "david@example.com"},
    {"name": "Eve", "email": "eve@example.com"}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('66039bb4cb56c5a92309917b'), ObjectId('66039bb4cb56c5a92309917c'), ObjectId('66039bb4cb56c5a92309917d'), ObjectId('66039bb4cb56c5a92309917e'), ObjectId('66039bb4cb56c5a92309917f')], acknowledged=True)

In [105]:
for doc in collection.find():
    print(doc)

{'_id': ObjectId('66039bb4cb56c5a92309917b'), 'name': 'Alice', 'email': 'alice@example.com'}
{'_id': ObjectId('66039bb4cb56c5a92309917c'), 'name': 'Bob', 'email': 'bob@example.com'}
{'_id': ObjectId('66039bb4cb56c5a92309917d'), 'name': 'Charlie', 'email': 'charlie@example.com'}
{'_id': ObjectId('66039bb4cb56c5a92309917e'), 'name': 'David', 'email': 'david@example.com'}
{'_id': ObjectId('66039bb4cb56c5a92309917f'), 'name': 'Eve', 'email': 'eve@example.com'}

In [108]:
pipeline = [
    {"$project": {"_id": 0, "name": 1, "email": 1}},   # bool 0:False, 1:True 즉,이름과 이메일만 가져올게 
    {"$sort": {"email": 1}} # 내림차순 : -1    # 이메일기준으로 정렬
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'name': 'Alice', 'email': 'alice@example.com'}
{'name': 'Bob', 'email': 'bob@example.com'}
{'name': 'Charlie', 'email': 'charlie@example.com'}
{'name': 'David', 'email': 'david@example.com'}
{'name': 'Eve', 'email': 'eve@example.com'}

- 다단계 파이프라인

In [109]:
# 기존 데이터가 있다면 삭제 (실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_data = [
    {"age": 25, "status": "active", "balance": 500},
    {"age": 30, "status": "inactive", "balance": 1500},
    {"age": 35, "status": "active", "balance": 3000},
    {"age": 40, "status": "active", "balance": 2500},
    {"age": 25, "status": "active", "balance": 800},
    {"age": 30, "status": "active", "balance": 1200},
    {"age": 35, "status": "inactive", "balance": 2000}
]

# 데이터 삽입
collection.insert_many(sample_data)

InsertManyResult([ObjectId('66039ca7cb56c5a923099180'), ObjectId('66039ca7cb56c5a923099181'), ObjectId('66039ca7cb56c5a923099182'), ObjectId('66039ca7cb56c5a923099183'), ObjectId('66039ca7cb56c5a923099184'), ObjectId('66039ca7cb56c5a923099185'), ObjectId('66039ca7cb56c5a923099186')], acknowledged=True)

In [110]:
pipeline = [
    {"$match": {"status": "active"}},
    {"$group": {"_id": "$age", "total": {"$sum": "$balance"}}},
    {"$match": {"total": {"$gt": 1000}}}, # total값이 1000보다 크면
    {"$sort": {"total": -1}} # 잔고가 높은 순으로(내립차순)
]

results = collection.aggregate(pipeline)

for result in results:
    print(f"Age: {result['_id']}, Total Balance: {result['total']}")

Age: 35, Total Balance: 3000
Age: 40, Total Balance: 2500
Age: 25, Total Balance: 1300
Age: 30, Total Balance: 1200

- join

In [123]:
# users 컬렉션 생성 및 샘플 데이터 삽입
users_collection = db['users1']
users_collection.delete_many({})  # 기존 데이터 초기화
users_sample = [
    {"_id": 1, "name": "Alice", "userId": "user1"},
    {"_id": 2, "name": "Bob", "userId": "user2"},
    {"_id": 3, "name": "Charlie", "userId": "user3"}
]
users_collection.insert_many(users_sample)

# orders 컬렉션 생성 및 샘플 데이터 삽입
orders_collection = db['orders']
orders_collection.delete_many({})  # 기존 데이터 초기화
orders_sample = [
    {"order_id": 1, "product": "Book", "user_id": "user1"},
    {"order_id": 2, "product": "Laptop", "user_id": "user1"},
    {"order_id": 3, "product": "Pen", "user_id": "user2"}
]
orders_collection.insert_many(orders_sample)

InsertManyResult([ObjectId('6603a44ecb56c5a92309918a'), ObjectId('6603a44ecb56c5a92309918b'), ObjectId('6603a44ecb56c5a92309918c')], acknowledged=True)

In [121]:
pipeline = [
    {"$lookup": {
        "from": "orders",  # 조인할 컬렉션 이름
        "localField": "userId",  # 현재 문서의 필드
        "foreignField": "user_id",  # 조인할 컬렉션의 필드
        "as": "order_info"  # 추가할 필드 이름
    }},
    {"$match": {"order_info": {"$ne": []}}},  # 주문 정보가 있는 사용자만 선택
]

results = users_collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': 1, 'name': 'Alice', 'userId': 'user1', 'order_info': [{'_id': ObjectId('66039e40cb56c5a923099187'), 'order_id': 1, 'product': 'Book', 'user_id': 'user1'}, {'_id': ObjectId('66039e40cb56c5a923099188'), 'order_id': 2, 'product': 'Laptop', 'user_id': 'user1'}]}
{'_id': 2, 'name': 'Bob', 'userId': 'user2', 'order_info': [{'_id': ObjectId('66039e40cb56c5a923099189'), 'order_id': 3, 'product': 'Pen', 'user_id': 'user2'}]}

In [126]:
# 현재 문서의 파이프라인(users) 실행
pipeline = [
    {"$lookup": {
        "from": "users",  # 조인할 컬렉션 이름
        "localField": "user_id",  # 현재 문서의 필드
        "foreignField": "userId",  # 조인할 컬렉션의 필드
        "as": "order_info"  # 추가할 필드 이름
    }},
    {"$match": {"order_info": {"$elemMatch": {"name": "Alice"}}}},
    {"$project": {"_id":0 ,"product": 1, "order_info.name": 1}}# 주문 정보가 있는 사용자만 선택
]

results = orders_collection.aggregate(pipeline)

for result in results:
    print(result)

{'product': 'Book', 'order_info': [{'name': 'Alice'}]}
{'product': 'Laptop', 'order_info': [{'name': 'Alice'}]}

In [125]:
pipeline = [
    {"$lookup": {
        "from": "orders",  
        "localField": "userId",  
        "foreignField": "user_id",  
        "as": "order_info"  
    }},
    {"$match": {"order_info": {"$elemMatch": {"product": "Book"}}}},  # "Book" 상품을 주문한 경우만 선택
    {"$project": {"name": 1, "order_info.product": 1}}  # "name" 필드와 "order_info" 배열 내의 "product" 필드 모두 선택
]

results = users_collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': 1, 'name': 'Alice', 'order_info': [{'product': 'Book'}, {'product': 'Laptop'}]}

## 본래 데이터에 값을 몇개 더 추가해서
- lookup 연산자를 이용하여 결과값을 확인
- RDBMS와의 차이를 명확히 알고 어떤 경우에 사용할 수 있을지 고민해 봅시다.

In [127]:
users.drop()

In [128]:
collection = db['users']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "age": 18},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "David", "age": 45},
    {"name": "Eve", "age": 55},
    {"name": "Frank", "age": 65}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('6603a876cb56c5a92309918d'), ObjectId('6603a876cb56c5a92309918e'), ObjectId('6603a876cb56c5a92309918f'), ObjectId('6603a876cb56c5a923099190'), ObjectId('6603a876cb56c5a923099191'), ObjectId('6603a876cb56c5a923099192')], acknowledged=True)

In [129]:
pipeline = [
    {"$addFields": {
        "generation": {
            "$switch": {   # if문 느낌
                "branches": [
                    {"case": {"$lte": ["$age", 20]}, "then": "Gen Z"},
                    {"case": {"$lte": ["$age", 40]}, "then": "Millennial"},
                    {"case": {"$lte": ["$age", 60]}, "then": "Gen X"},   # 60보다 작거나 같으면
                ],
                "default": "Baby Boomer"  # else
            }
        }
    }}
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': ObjectId('6603a876cb56c5a92309918d'), 'name': 'Alice', 'age': 18, 'generation': 'Gen Z'}
{'_id': ObjectId('6603a876cb56c5a92309918e'), 'name': 'Bob', 'age': 25, 'generation': 'Millennial'}
{'_id': ObjectId('6603a876cb56c5a92309918f'), 'name': 'Charlie', 'age': 35, 'generation': 'Millennial'}
{'_id': ObjectId('6603a876cb56c5a923099190'), 'name': 'David', 'age': 45, 'generation': 'Gen X'}
{'_id': ObjectId('6603a876cb56c5a923099191'), 'name': 'Eve', 'age': 55, 'generation': 'Gen X'}
{'_id': ObjectId('6603a876cb56c5a923099192'), 'name': 'Frank', 'age': 65, 'generation': 'Baby Boomer'}

In [130]:
age = 30   # 위의 스위치 문과 같은 내용 !!!!즉, if문의 순서가 중요하다!!!!
if age <= 20:
    print("Gen Z")
elif age <= 40:
    print("millennial")
elif age <= 60:
    print("gen x")
else:
    print("baby boomer")

millennial

- 통장 잔고에 따라 부자, 중간, 등등으로 구분

In [132]:
collection = db['users']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "balance": 18},
    {"name": "Bob", "balance": 25},
    {"name": "Charlie", "balance": 35},
    {"name": "David", "balance": 45},
    {"name": "Eve", "balance": 55},
    {"name": "Frank", "balance": 65}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('6603abeecb56c5a923099193'), ObjectId('6603abeecb56c5a923099194'), ObjectId('6603abeecb56c5a923099195'), ObjectId('6603abeecb56c5a923099196'), ObjectId('6603abeecb56c5a923099197'), ObjectId('6603abeecb56c5a923099198')], acknowledged=True)

In [133]:
pipeline = [
    {"$addFields": {
        "status": {
            "$switch": {   # if문 느낌
                "branches": [
                    {"case": {"$lte": ["$balance", 20]}, "then": "poor"},
                    {"case": {"$lte": ["$balance", 40]}, "then": "middle"},
                    {"case": {"$lte": ["$balance", 60]}, "then": "rich"},   # 60보다 작거나 같으면
                ],
                "default": "wealthy"  # else
            }
        }
    }}
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': ObjectId('6603abeecb56c5a923099193'), 'name': 'Alice', 'balance': 18, 'status': 'poor'}
{'_id': ObjectId('6603abeecb56c5a923099194'), 'name': 'Bob', 'balance': 25, 'status': 'middle'}
{'_id': ObjectId('6603abeecb56c5a923099195'), 'name': 'Charlie', 'balance': 35, 'status': 'middle'}
{'_id': ObjectId('6603abeecb56c5a923099196'), 'name': 'David', 'balance': 45, 'status': 'rich'}
{'_id': ObjectId('6603abeecb56c5a923099197'), 'name': 'Eve', 'balance': 55, 'status': 'rich'}
{'_id': ObjectId('6603abeecb56c5a923099198'), 'name': 'Frank', 'balance': 65, 'status': 'wealthy'}