In [5]:
# pip install pymongo
from pymongo import MongoClient

# client = MongoClient('mongodb://hanslab.org:27117/')
client = MongoClient('mongodb://likelion:1234@hanslab.org:27117/')

In [6]:
# 데이터베이스 선택 (없으면 새로 생성됨)
db = client['tutorial_db_kimkyungeon']

In [7]:
# 컬렉션 선택 (없으면 새로 생성됨) -> sql table
collection = db['tutorial_collection']

In [39]:
# 새 문서 생성 및 삽입
document = {"name": "kim gibok", "age": 31, "city": "New York"}
collection.insert_one(document)

InsertOneResult(ObjectId('66037988cb56c5a923099152'), acknowledged=True)

In [21]:
document = {"name": "kim Lion", "age": 100, "country": "Seoul"}
collection.insert_one(document)

InsertOneResult(ObjectId('66037481cb56c5a923099150'), acknowledged=True)

In [70]:
# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('66037481cb56c5a923099150'), 'name': 'kim Lion', 'age': 131, 'country': 'Seoul'}
{'_id': ObjectId('660378f9cb56c5a923099151'), 'name': 'John Doe', 'city': 'New York', 'age': 31}
{'_id': ObjectId('66037988cb56c5a923099152'), 'name': 'kim gibok', 'age': 31, 'city': 'New York'}

In [23]:
# 특정 조건에 맞는 문서 조회
query = {"country": "Seoul"}
documents = collection.find(query)
for doc in documents:
    print(doc)

{'_id': ObjectId('66037481cb56c5a923099150'), 'name': 'kim Lion', 'age': 100, 'country': 'Seoul'}

In [69]:
# 문서 업데이트
collection.update_one(
    {"name": "John Doe"},  # 조건
    {"$set": {"age": 31}}  # 변경할 내용
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
# 문서 삭제
collection.delete_one({"name": "John Doe"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

- 심화예제

In [71]:
users = db['users'] # users라는 이름의 collection을 생성

# 'email' 필드에 대한 인덱스 생성 unique: 필드에 유니크한 값만 가능하다 중복X
users.create_index([('email', 1)], unique=True)

'email_1'

In [86]:
# insert_many
try:
    users.insert_many([
        {"name": "John Doe", "email": "john@example.com"},
        {"name": "Jane Doe", "email": "jane@example.com"},
        {"name": "kim Lion", "email": "likelion@example.com"}
    ])
    print("Documents inserted successfully.")
except Exception as e:
    print("An error occurred:", e)

Documents inserted successfully.

In [87]:
# 모든 문서 조회
for doc in users.find():
    print(doc)

{'_id': ObjectId('660382bacb56c5a92309915a'), 'name': 'John Doe', 'email': 'john@example.com'}
{'_id': ObjectId('660382bacb56c5a92309915b'), 'name': 'Jane Doe', 'email': 'jane@example.com'}
{'_id': ObjectId('660382bacb56c5a92309915c'), 'name': 'kim Lion', 'email': 'likelion@example.com'}

In [88]:
# update_many
try:
    result = users.update_many(
        {"name": {"$regex": "^J"}},  # 이름이 J로 시작하는 모든 문서 ^:시작을 의미
        {"$set": {"status": "verified"}}
    )
    print(f"{result.matched_count} documents matched, {result.modified_count} documents updated.")
except Exception as e:
    print("An error occurred:", e)

2 documents matched, 2 documents updated.

In [85]:
try:
    result = users.delete_many({"status": "verified"})
    print(f"{result.deleted_count} documents deleted.")
except Exception as e:
    print("An error occurred:", e)

2 documents deleted.

In [79]:
# 예외처리 예제
from pymongo.errors import DuplicateKeyError

try:
    users.insert_one({"email": "john@example.com"})  # 이미 존재하는 이메일
except DuplicateKeyError as e:
    print("Duplicate key error:", e)
except Exception as e:
    print("An error occurred:", e)

Duplicate key error: E11000 duplicate key error collection: tutorial_db_kimkyungeon.users index: email_1 dup key: { email: "john@example.com" }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'email': 1}, 'keyValue': {'email': 'john@example.com'}, 'errmsg': 'E11000 duplicate key error collection: tutorial_db_kimkyungeon.users index: email_1 dup key: { email: "john@example.com" }'}

- 집계 파이프라인

In [98]:
collection = db['users1']

# 기존 데이터가 있다면 삭제 (새로운 실습을 위해)
collection.delete_many({})

# 샘플 데이터 삽입
sample_users = [
    {"name": "Alice", "age": 25, "status": "active", "team":"lion"},
    {"name": "Bob", "age": 30, "status": "inactive", "team":"tiger"},
    {"name": "Charlie", "age": 35, "status": "active", "team":"lion"},
    {"name": "David", "age": 40, "status": "active", "team":"lion"},
    {"name": "Eve", "age": 25, "status": "active", "team":"lion"},
    {"name": "Frank", "age": 30, "status": "active", "team":"lion"}
]

collection.insert_many(sample_users)

InsertManyResult([ObjectId('660388bbcb56c5a92309916f'), ObjectId('660388bbcb56c5a923099170'), ObjectId('660388bbcb56c5a923099171'), ObjectId('660388bbcb56c5a923099172'), ObjectId('660388bbcb56c5a923099173'), ObjectId('660388bbcb56c5a923099174')], acknowledged=True)

In [99]:
pipeline = [
    {"$match": {"status": "active"}},
    {"$group": {"_id": "$team", "count": {"$sum": 1}}} # 그룹을 나이로 
]

results = collection.aggregate(pipeline)

for result in results:
    print(result)

{'_id': 'lion', 'count': 5}